/* common css start */


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{

    list-style: none;
}

a{

    text-decoration: none;
}

body{

    font-family: 'Open Sans', sans-serif;

}

.container{

    width: 1180px;
    margin: auto;
}


.row{

    display: flex;
    flex-wrap: wrap;
}

.align_items{

    align-items: center;
}

.justify_content{

    justify-content: center;
}


.header h2{

    font-size: 46px;
    color: #02918c;
    font-weight: 800;
}

.header p{


    font-size: 16px;
    color:gray;
    padding: 40px 0;
}


/* common css ends */


/* navbar start */


nav{

    background-color: #02918c;

}

nav .logo{

    width: 40%;
}

nav .menu{

    width: 60%;
    text-align: right;
}

nav .menu ul li{

    display: inline-block;
    
}
nav .menu ul li a{

    color: white;
    font-weight: 800; 
    padding: 22px 25px;
    display: inline-block;


}



/* navbar ends */


/* banner start */

#banner{

    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 730px;
    background-size: cover;
    text-align: center;
    
}
#banner .container{

    height: 100%;
}

#banner .row{

    height: 100%;
}

.bannercont h6{

    font-size: 30px;
    color: white;
}

.bannercont h2{

    font-size: 68px;
    color: white;
    letter-spacing: 30px;
    font-weight: 800;
    text-transform: uppercase;
}
.bannercont p{

    color:white;
}

.bannercont img{

    padding: 50px 0;
}

.btn{

    background-color:#cfc91d;
    color: black;
    font-weight: 800;
    font-size: 14px;
    padding: 19px 45px;
   
}
/* banner ends */


/* about section start */


#about{

    text-align: center;
    padding: 100px 0;
}



.about_para{

    font-size: 14px;
    color: gray;
    font-weight: normal;
    line-height: 30px;
    padding: 0 170px;
    padding-bottom: 80px;
}

.about_para span{

    font-weight: 800;
    font-size: 23px;
}


/* about card start */

.about_Card{

    width: 25%;
    border-right: 1px solid  #7e8287;
    padding: 40px 0;
    
}
.about_Card i{

    color: #4dc9c5;
    font-size: 30px;
   

}
.about_Card h4{

    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    padding: 30px 0;
}

.about_Card p{

    font-size: 11px;
    color: #7e8287;
    padding: 0 50px;
    line-height: 20px;
   
}

.about_Card:last-child{

    border-right: none;
}




/* about card ends */

/* about section ends */



/* service section start */


#services{

    background-image: url(../images/services_banner.jpg);
    width: 100%;
    height: 750px;
    padding: 50px 0;
    background-size: cover;
}


.service_header{

    width: 50%;
}



.hed_p{

    font-size: 14px;
    color: gray;
    padding-right: 100px;
    line-height: 20px;
  

}

.services_Card{

    width: 50%;
    text-align: left;
    margin-top: 45px;
}

.services_Card i{

    font-size: 30px;
    color: #4dc9c5;
}

.services_Card h4{

    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    padding: 30px 0;
}

.services_Card p{

    font-size: 11px;
    color: #7e8287;
    line-height: 20px;
   padding-right: 100px;

}


/* service section ends */



/* work section start */

#work{

    text-align: center;
    padding: 100px 0;
    
}

.work_P{

    font-size: 14px;
    line-height: 30px;
    color: gray;
    padding-bottom: 77px;
}



#work .galery{

width: 25%;
position: relative;


}
#work .galery img{


    width: 100%;
    display: block;

}

.overlay{

    position: absolute;
    background-color:#259b93aa;
    color: white;
    text-align: center;
    inset: 20px;
    padding: 50px 0;

    transition: 0.3s;

    transform: scale(0);
    
 
}

.overlay h4{

    font-size: 16px;
    padding-bottom: 17px;


}

.overlay p{

    font-size: 13px;
    padding: 0 50px;
    line-height: 20px;
}

.galery:hover .overlay{

    transform: scale(1);
}


/* work section end */

/* contact start */


#contact{


    text-align: center;
}

#contact .con_p{

line-height: 25px;
color: gray;
font-size: 13px;
padding-bottom: 77px;
}

/* contact ends */



/* contact form start */

#Cnt_form{

    background-color: #0b0b0b;
    padding: 60px 0;
    text-align:center;
  
}


.input_form{

    width: 640px;
    margin: auto;

    margin-bottom: 55px;

}

.input_form input{

    width: 100%;
    background-color: transparent;
    color: white;
    border: none;

    text-align: center;
    border-bottom: 1px double white;
    outline: none;
    padding: 16px;
}

.large{

    width: 915px;

}

/* contact form ends */


.copywrite{

    text-align: center;
    padding: 34px 0;
    background-color: #000000;
    color: gray;
}